*{
    padding: 0px ;
    margin: 0px;
    background-color:rgb(21, 145, 114);
   
}

#head-h1{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    border-bottom: 6px solid white;
    border-radius: 10px;
    width: fit-content;
    padding: 1rem 2rem;
    box-shadow: 4px 4px 10px black;
    color: antiquewhite;
    margin-top: 100px;

}
.main{
    width: 30%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7px;
    background-color: rgb(8, 88, 88);
    border-radius: 20px;
    box-shadow: 4px 4px 6px black;
    padding: 20px;
    
    
}


#weight{
    padding: 1rem 2rem;
    border-radius: 10px;
    margin-top: 10px;
    background-color: rgb(250, 252, 252);
    font-size: larger;
    color: rgb(10, 10, 10);
    outline: none;
    box-shadow: 3px 3px 8px rgb(0, 0, 0);
    font-weight: 600;
}

#height{
    padding: 1rem 2rem;
    border-radius: 10px;
    background-color: rgb(250, 255, 255);
    font-size: larger;
    color: rgb(0, 0, 0);
    outline: none;
    box-shadow: 3px 3px 8px rgb(0, 0, 0);
    font-weight: 600;
    
}

#btn{
padding: 0.8rem 1.5rem;
border-radius: 10px;
background-color: rgb(22, 139, 124);
font-size: larger;
color: aliceblue;
box-shadow: 3px 3px 8px rgb(0, 0, 0);
margin-bottom: 20px;
font-size: larger;
font-weight: 500;
}

.result{
    display: none;
    width: 30%;
    height: fit-content;
    border: 2px solid black;
   
    
}
