*{
    padding: 0px ;
    margin: 0px;
    background-color:rgb(14, 211, 162);
}

#head-h1{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.main{
    width: 30%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7px;
    background-color: rgb(8, 88, 88);
    border-radius: 20px;
    
    
}


#weight{
    padding: 1rem 2rem;
    border-radius: 10px;
    margin-top: 10px;
    background-color: rgb(8, 88, 88);
    font-size: larger;
    color: antiquewhite;
    outline: none;
}

#height{
    padding: 1rem 2rem;
    border-radius: 10px;
    background-color: rgb(8, 88, 88);
    font-size: larger;
    color: antiquewhite;
    outline: none;
    
}

#btn{
padding: 0.8rem 1.5rem;
border-radius: 10px;
background-color: rgb(8, 88, 88);
font-size: larger;
color: aliceblue;
}

#result{
    border: 2px solid black;
    padding: 0.5rem 2rem;
    border-radius: 10px;
    
}
